<?xml version="1.0"?>

<launch>

	<include file="$(find ouster_ros)/launch/driver.launch" >

    <arg name="sensor_hostname"  value="169.254.134.64"/>
    <arg name="udp_dest"  value="169.254.173.28"/>
    <arg name="timestamp_mode" value="TIME_FROM_ROS_TIME"/>
    <arg name="lidar_mode"  value="2048x10"/>
    <arg name="viz"  value="false"/>

  </include>

</launch>
